@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .hidden-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .hidden-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .slide-in {
        animation: up 4s ease-in-out;
    }

    @keyframes up {
        0% {
            opacity: 1;
            transform: translateY(20vh);
        }
        5% {
            opacity: 1;
            transform: translateY(0);
        }
        90% {
            opacity: 1;
        }
        99% {
            opacity: 0;
        }
    }

    .fadein {
        animation: fadein 0.2s ease-in-out;
    }

    @keyframes fadein {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .slidein {
        animation: slidein 0.3s ease-in-out;
    }

    @keyframes slidein {
        0% {
            transform: translateY(100vh);
        }
        100% {
            transform: translateY(0);
        }
    }

    .spin {
        animation: spin 1s ease-in-out infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    .loading {
        animation: loading 3s ease-in-out infinite;
    }

    @keyframes loading {
        0% {
            transform: translateX(-200px);
        }
        40% {
            transform: translateX(-200px);
        }
        60% {
            transform: translateX(100vw);
        }
        100% {
            transform: translateX(100vw);
        }
    }

    .karesz-spin {
        animation: karesz-spin 2s ease-in-out infinite;
    }

    @keyframes karesz-spin {
        0% {
            transform: rotate3d(1, 1, 0.5, 0deg);
        }
        50% {
            transform: rotate3d(1, 1, 0.5, 360deg);
        }
        100% {
            transform: rotate3d(1, 1, 0.5, 0deg);
        }
    }

    .dark {
        @apply bg-zinc-800;
    }

    .slider {
        @apply w-full bg-slate-800 outline-none opacity-70 transition-opacity cursor-pointer h-2 appearance-none rounded-full;
        -webkit-appearance: none;
    }

    .slider:hover {
        opacity: 1;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        @apply rounded-full bg-karesz cursor-pointer h-4 w-4 appearance-none;
    }

    .slider::-moz-range-thumb {
        @apply rounded-full w-4 h-4 bg-karesz cursor-pointer;
    }

    .range {
        @apply overflow-hidden bg-slate-700 outline-none transition-opacity cursor-pointer h-3 appearance-none rounded-full;
        -webkit-appearance: none;
    }

    .range::-webkit-slider-runnable-track {
        @apply h-2;
        -webkit-appearance: none;
    }

    .range::-webkit-slider-thumb {
        @apply bg-karesz cursor-pointer h-2 w-2 appearance-none;
        -webkit-appearance: none;
        box-shadow: -100px 0 0 100px rgb(34, 127, 255);
    }

    /** FF*/
    .range::-moz-range-progress {
        background-color: rgb(34, 127, 255);
    }
    .range::-moz-range-track {
        background-color: rgb(100, 116, 139);
    }
    /* IE*/
    .range::-ms-fill-lower {
        background-color: rgb(34, 127, 255);
    }
    .range::-ms-fill-upper {
        background-color: rgb(100, 116, 139);
    }

    .nput::-webkit-outer-spin-button,
    .nput::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    .nput[type='number'] {
        -moz-appearance: textfield;
    }

    body,
    html {
        @apply bg-back;
    }

    .sb > thead > tr > th {
        @apply font-semibold text-left text-sm border-b-[2px] border-karesz;
    }

    .sb td {
        @apply text-sm border-y border-slate-600;
    }

    .sb td,
    .sb th {
        @apply p-2;
    }

    .shadow-left {
        -webkit-box-shadow: -5px 0px 10px 0px rgba(0, 0, 0, 0.3);
        box-shadow: -5px 0px 10px 0px rgba(0, 0, 0, 0.3);
    }
}
