@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .hidden-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .hidden-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .slide-in {
        animation: up 4s ease-in-out;
    }

    @keyframes up {
        0% {
            opacity: 1;
            transform: translateY(20vh);
        }
        5% {
            opacity: 1;
            transform: translateY(0);
        }
        90% {
            opacity: 1;
        }
        99% {
            opacity: 0;
        }
    }

    .dark {
        @apply bg-zinc-800;
    }

    .slider {
        @apply w-full bg-slate-800 outline-none opacity-70 transition-opacity cursor-pointer h-2 appearance-none rounded-full;
        -webkit-appearance: none;
    }

    .slider:hover {
        opacity: 1;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        @apply rounded-full bg-karesz cursor-pointer h-4 w-4 appearance-none;
    }

    .slider::-moz-range-thumb {
        @apply rounded-full w-4 h-4 bg-karesz cursor-pointer;
    }
}
