@tailwind base;
@tailwind components;
@tailwind utilities;

/* STANDARD NEON HOVER
border-gray-400 m-1 p-2 rounded-md hover:shadow-sm hover:shadow-green-400 hover:bg-green-600 hover:border-green-400 dark:border-gray-400

*/

@layer base {
    /* width */
    ::-webkit-scrollbar {
        @apply w-1 h-1;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        @apply bg-zinc-600 rounded-md;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        @apply bg-green-400 ;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        @apply bg-green-300;
    }
/*
    input[type="range"]::-webkit-slider-runnable-track {
        @apply h-3 outline-none bg-zinc-600 cursor-pointer overflow-hidden;
    }

    /*input[type="range"] {
        @apply form-range appearance-none;
    }*/
/*
    input[type="range"]::-webkit-slider-thumb {
        @apply w-5 h-3 bg-green-400 shadow-green-400 shadow-sm;
        cursor: pointer;
        -webkit-appearance: none;
        border-bottom: 1px solid #29334f;
    }
    */
    .current-command {
        background-color: rgb(22 163 74 / var(--tw-bg-opacity)) !important;
        border-color: rgb(74 222 128 / var(--tw-border-opacity)) !important;
        @apply shadow-sm shadow-green-400;
    }
}

@layer components {
    .command-box {
        @apply cursor-pointer border-2 hover:shadow-sm hover:shadow-green-400 border-gray-400 m-1 p-1 rounded-md bg-opacity-5 hover:bg-green-600 hover:border-green-400;
    }

    .button-start {
        @apply border hover:shadow-sm hover:shadow-green-400 border-gray-400 m-1 px-1 py-0.5 rounded-md bg-opacity-5 hover:bg-green-600 hover:border-green-400;
    }

    .section-div {
        @apply mb-2 px-1 border-b border-zinc-600 text-sm font-bold text-gray-400;
    }

    .button-stop {
        @apply border hover:shadow-sm hover:shadow-red-600 border-gray-400 m-1 px-1 py-0.5 rounded-md bg-opacity-5 hover:bg-red-800 hover:border-red-600;
    }
}